@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Almarai";
}
h1 {
  font-size: 35px;
  line-height: 48px;
}
.dir-rtl {
  direction: rtl;
}
span {
  border-radius: 50%;
  background-color: rgb(252, 250, 250);
  padding: 8px;
}
.singlType {
  background-color: #ffffff;
  width: 250px;
  height: 200px;
}
.singlType:hover {
  background: linear-gradient(136.97deg, #ddb762 3.34%, #000000 225.23%);
  cursor: pointer;
}
